body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 90%;
  max-width: 350px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

h1, h2 {
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 8px;
}

button:active {
  background-color: #004d00;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 18px;
}

.balance {
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0;
}

.help-number {
  font-size: 20px;
  font-weight: bold;
}
